*{
    margin: 0;
    padding: 0;
}
.col-1{
    background: rgb(42, 165, 44);
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    box-sizing: content-box;
}
.col-2{
    background:rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 20px;
    box-sizing: content-box;
}